.card,
.previousCard {
  display: inline-block;
  height: 200px;
  width: 150px;
  border-radius: 10px;
  position: relative;
}
.card[data-suit="D"],
.card[data-suit="H"],
.previousCard[data-suit="D"],
.previousCard[data-suit="H"] {
  color: red;
}
.card[data-suit="S"],
.card[data-suit="C"],
.previousCard[data-suit="S"],
.previousCard[data-suit="C"] {
  color: black;
}
.card[data-suit]:before,
.card[data-suit]:after,
.previousCard[data-suit]:before,
.previousCard[data-suit]:after {
  position: absolute;
}
.card[data-suit]:before,
.previousCard[data-suit]:before {
  top: 0;
  left: 0;
}
.card[data-suit]:after,
.previousCard[data-suit]:after {
  bottom: 0;
  right: 0;
}
.card[data-suit="H"]:before,
.card[data-suit="H"]:after,
.previousCard[data-suit="H"]:before,
.previousCard[data-suit="H"]:after {
  content: '♡';
}
.card[data-suit="D"]:before,
.card[data-suit="D"]:after,
.previousCard[data-suit="D"]:before,
.previousCard[data-suit="D"]:after {
  content: '♢';
}
.card[data-suit="S"]:before,
.card[data-suit="S"]:after,
.previousCard[data-suit="S"]:before,
.previousCard[data-suit="S"]:after {
  content: '♠';
}
.card[data-suit="C"]:before,
.card[data-suit="C"]:after,
.previousCard[data-suit="C"]:before,
.previousCard[data-suit="C"]:after {
  content: '♣';
}
.cardNum,
.cardNumPrev {
  font-size: 50px;
  margin-top: 46%;
  margin-left: 40%;
}
